# Default ignored files
/../../hand_gesture_website /.idea/shelf/
/../../hand_gesture_website /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../hand_gesture_website /.idea/httpRequests/
